* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    height: 2000px;

}

.container {
    width: 1170px;
    margin: auto;
}

.title-text {
    font-size: 40px;
    text-align: center;
}

/*================ start navbar ==============*/
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    border: none;
    background: none;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: -10px;
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 40px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}





/*================= end navbar ===============*/
/*========== srt header ==============*/
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
        url("images/5c59b209eb3ce82fe43ea894.jpg") center/cover no-repeat fixed;
    margin-top: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.hero .title {
    color: #fff;
    font-size: 50px;

}

.hero-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color: white;
    cursor: pointer;
    border: 2px solid orange;
    margin-top: 10px;

}

.hero-button:hover {
    background: #fff;
    color: orange;
    border: 2px solid #fff;
}

.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.3;
    color: black;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

/*========== end header ==============*/

/*========== strt aboutus ===========*/

#about {
    padding: 40px;
}

.about {
    margin: 30px 0;
    display: flex;
}

.about-icon img {
    size: 60px;
    color: orange;
    margin-right: 20px;
}

.about-subtitle {
    text-transform: capitalize;
    color: orange;
    font-size: 25px;
}

.about-info {
    margin-top: 10px;
    line-height: 1.5;
}

.about-icon:hover,
.about-subtitle:hover {
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color: #cd6100;
    cursor: pointer;
}

@media screen and (min-width : 576px) {
    .about-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about {
        flex: 0 0 clac(50% - 16px);
    }
}

@media screen and (min-width:972px) {
    .about {
        flex: 0 0 clac(33.3% - 16px);
    }
}

/*========== end aboutus ============*/
/*========== srt menu ===============*/

.menu-image {
    min-height: 80vh;
    background: url("images/Your-Food-1400-x-700.jpg")center/cover fixed no-repeat;
}

.menu-text {
    min-height: 40vh;
    align-items: center;
    background: orange;
    columns: black;
    padding: 40px 0;
    text-align: center;
}

.menu-text-center {
    width: 90%;
    margin: 0 auto;

}

.menu-text h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.menu-text p {
    margin: 20px 0;
    line-height: 2;
}

.menu-text a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border: 2px solid black;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: orange;
    cursor: pointer;
}

.menu-text a:hover {
    color: orange;
    background: white;
    border: 2px solid white;
}


/*========== end menu ===============*/
/*========== strt social=============*/
#social-icon {
    height: 150px;
    background: white;
    text-align: center;
    padding: 40px 0 40px 0;
}

#social-icon a {
    display: inline-block;
    padding: 5px 5px;
    margin: 0 20px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}

#social-icon a:hover {
    transform: translateY(-15px);
}

/*========== end social==============*/

/*===============start team====================*/

.team {
    overflow: hidden;
    background-color: #F9F8F6
}

.team .hed {
    margin: 10px;
}

.team .hed h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-width: medium;
    margin-bottom: 50px;
}

.team .t1 {
    margin-top: 20px;
    margin-bottom: 0;
    overflow: hidden;
}

.team .t1 .image {
    width: 40%;
    float: left;
}

.team .t1 .image img {
    margin-left: 250px;
    width: 400px;
    height: 390px;
}

.team .t1 .tinfo {
    margin-top: 70px;
    float: left;
    overflow: hidden;
    width: 40%;
}

.team .t1 .tinfo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 150px;
}

.team .t1 .tinfo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin-left: 150px;
}


.team .t2 {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.team .t2 .image {
    float: right;
    width: 52%;
}

.team .t2 .image img {
    margin-right: 100px;
    width: 400px;
    height: 390px;
    margin-right: -3px;
}

.team .t2 .tinfo {
    margin-top: 70px;
    float: left;
    overflow: hidden;
    width: 33%;
    text-align: right;
    margin-left: 170px;
}

.team .t2 .tinfo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10px;
}

.team .t2 .tinfo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin-right: 10px;
}



.team .t3 {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.team .t3 .image {
    width: 40%;
    float: left;
}

.team .t3 .image img {
    margin-left: 250px;
    width: 400px;
    height: 390px;
}

.team .t3 .tinfo {
    margin-top: 70px;
    float: left;
    overflow: hidden;
    width: 40%;
}

.team .t3 .tinfo h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 150px;
}

.team .t3 .tinfo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin-left: 150px;
}


/*================end team========================*/



/*==============start feathers ===============*/

.feathers{
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FFA500;
}

.strt-left{
    width: 50%;
    margin-left: 30px;
}

.strt-left p,h2{
    color: #FFA500;
    
}

.strt-left p,h2:hover{
    color: black;
    
}

.strt-right{
    float: right;
    margin-top: -90px;
}

.feathers .started{
    padding: 20px;
    width: 100%;
    height: 160px;
    background-color: white;
}


.feathers .b-strt{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 13px 20px;
        border-radius: 200px;
        font-weight: bold;
        font-size: 25px;
        background: orange;
        color: black;
        cursor: pointer;
        border: 2px solid orange;
        margin-top: 10px;
}

.feathers .b-strt:hover{
    background: black;
    color: orange;
    border: 2px solid black;
}

.feathers p{
    margin-top: 8px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}




/*==============end feathers================== */




.meals {
    overflow: hidden;
    align-items: center;
    align-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

.meals .title-text {
    margin-bottom: 20px;
}

.m1,
.m2,
.m3 {
    float: left;
    height: 350px;
}

.m1 {
    background: url("images/Healthy-food-swaps-featured.jpg") center/cover no-repeat;
    padding: 10px;
    margin-right: 80px;
    margin-left: 150px;
}

.m2 {
    background: url("images/1577132050911.jpeg") center/cover no-repeat;
    padding: 10px;
    margin-right: 80px;
}

.m3 {
    background: url("images/wings-2-Jpeg-scaled.jpg") center/cover no-repeat;
    padding: 10px;
}

/* start information*/

.information {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 60px;
    align-content: center;
}

.information .feat {
    float: left;
    width: 33.3333%;
    height: 350px;
}

.information .feat .i1 {
    margin-right: 40px;
}

.information .feat .i2 {
    margin-right: 40px;
}

.information .feat .i3 {
    margin-right: 20px;
}

.information .feat .i1 h2,
.information .feat .i2 h2,
.information .feat .i3 h2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}


.information .feat .i1 p,
.information .feat .i2 p,
.information .feat .i3 p {
    line-height: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.information .feat .i1 a,
.information .feat .i3 a {
    color: rgb(0, 81, 255);
    text-decoration: none;
}

.information .feat .i1 button {
    background: none;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.information .feat .i1 button:hover {
    cursor: pointer;
}

.information .feat .i1 div {
    display: inline-block;
}

.information .feat .i1 .inline {
    display: inline;
}

.information .feat .i1 div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -3px;
}

.information .feat .i3 .icon img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/*end information*/

/*start book*/
.book {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;

}

.book img {
    margin-top: 20px;
    margin-bottom: 10px;
}

.book p {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: gray;
}

.book .book-info {
    padding: 10px;
    display: inline-block;
}

.book .book-info input[type=date] {
    margin-right: 10px;
    width: 200px;
    height: 24px;
    padding: 1px;
}

.book .book-info select {
    margin-right: 10px;
    width: 200px;
    height: 30px;
}

.book .book-info input[type=button] {
    margin-right: 10px;
    width: 150px;
    height: 30px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: orange;
}

.book .book-info input[type=button]:hover {
    cursor: pointer;
}


/*end book*/


/* start contact me*/

.contact-me{
    padding-bottom: 60px;
    padding-top: 58px;
    background-color: #252f31;
    overflow: hidden;
}

.contact-me .info {
    width: 50%;
    float: left;
    margin-left: 5%
}

.contact-me h2{color:aliceblue;margin-left: 40px}

.contact-me p{color:dimgray; line-height: 1.7;margin-left: 40px}

.contact-me p strong{color: #d1d6da}

.contact-me .form {
    width: 45%;
    float: left;
}

label{
    color: #d1d6da;
    display: block;
    margin: 10px 0;
}

.contact-me .form input[type="text"]{
    background-color: #4B5557;
    color: white;
    padding: 7px;
    width: 80%;
    border:0;
    margin-bottom: 10px
}

.contact-me .form textarea{
    background-color: #4B5557;
    color: white;
    padding: 7px;
    width: 80%;
    border: 0;
    margin-bottom: 10px;
    height: 200px
}

.contact-me .form input[type="submit"]{
    background-color:#191e22;
    color: #d1d6da;
    padding: 10px;
    border: 0;
    margin:10px;
}

.contact-me .form input[type="submit"]:hover{
    cursor: pointer;
    color: #191e22;
    background-color: #d1d6da;
}



/* end contact me*/


/*start footer*/

.footer {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #F9F8F6;
    color: black;
    text-align: center;
    overflow: hidden
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    display: inline-block;
}

.footer .icon img {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.footer .icon img:hover {
    cursor: pointer
}

.footer span {
    color: dimgray;
}


/*end footer*/